h1::selection {
  background: #FA4800;
}
h1::-moz-selection {
  background: #FA4800;
}
p::selection {
  background: #FA4800;
}
p::-moz-selection {
  background: #FA4800;
}
a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #7A6A6A;
}
a:active {
  #FF0054;
}
.specsheet table {
  width: 60%;
  text-align: center;
  border-collapse: collapse;
  margin: 0% 20% 0% 20%;
}
.specsheet th, td {
  border-bottom: 1px solid #000;
}
.specsheet td {
  text-align: left
}
