h1::selection {
  background: #FA4800;
}
h1::-moz-selection {
  background: #FA4800;
}
p::selection {
  background: #FA4800;
}
p::-moz-selection {
  background: #FA4800;
}
th::selection {
  background: #FA4800;
}
th::-moz-selection {
  background: #FA4800;
}
td::selection {
  background: #FA4800;
}
td::-moz-selection {
  background: #FA4800;
}
a::selection {
  background: #FA4800;
}
a::-moz-selection {
  background: #FA4800;
}
span::selection {
  background: #FA4800;
}
span::-moz-selection {
  background: #FA4800;
}
:target {
  color: #FF001C;
}
a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #7A6A6A;
}
a:active {
  color:  #FF0054;
}
article, section {
  padding: 0em 2em 0em 2em;
}
/*START content*/
article {
  margin-top: 2em;
  margin-bottom: 3em;
}
article h1 {
  text-decoration: underline;
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 1.75em;
}
article a {
  font-size: inherit;
  border-bottom: dotted 1px;
  padding: 0.0625em;
  color: #000;
}
article a:hover {
  transition: 0.8s;
  color: #FFF;
  background-color: #000;
  border-radius: 0.25em;
}
article table {
  width: 60%;
  text-align: center;
  border-collapse: collapse;
  margin: 0% 20% 0% 20%;
  text-align: left;
}
article th, td {
  border-bottom: 1px solid #000;
}
article p {
  font-size: 1.25em;
  text-align: justify;
}
.media a {
  border-bottom: none;
  padding: 0;
}
.media a:hover {
  transition: none;
  color: #000;
  background-color: transparent;
  border-radius: auto;
}
.media a:visited {
  color: #000
}
/*START IMAGE AND IMAGE-DESCRIPTION*/
.image {
  padding-bottom: 0.5em;
  width: 50%;
}
.credits i span {
  font-family: "Pavanam", sans-serif;
  font-weight: 300;
  padding-left: 0.5em;
}
.credits {
  font-family: "Pavanam", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}
/*END IMAGE AND IMAGE DESCRIPTION*/

.book {
  text-align: justify;
  padding: 0em 0.5em 0em 0.5em
}
.leftside {
  float: left;
  width: 50%;
}
.rightside {
  float: right;
  width: 50%;
}
/*END content*/
/*.feedback {
  height: 50%;
  margin-top: 25%;
}
.feedback h1 {
  margin-bottom: 0.0625em
}*/
#feedback {
  height: 50%;
  margin: 10% 2% 10% 2%;
  padding-top: 8%;
}
#feedback:hover {
  background-color: #00FE7A;
  transition: 2s;
  border-radius: 50%;
}
#feedback a, h1{
 font-size: 1.25em;
}
footer a {
  padding: 0.75em;
  margin: 0.5em;
  text-align: left;
}
footer a:hover {
  opacity: 0.5;
  transition: 0.3s;
  color: #00FE00
}
